* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    padding: 1rem;
}


.button-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.button {
  background-color: #4c9bea;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  width: 90%;
  max-width: 245px;
}

.button:hover {
  background-color: #185486;
}
@media (min-width: 940px) {
    .button-container {
        flex-direction: row;
        width: 100%;
        gap: 10px;
        justify-content: center;
    }
}
@media (max-width: 939px) {
    .button {
        width: 100%;
        margin: 0.1rem 0;
    }
    .button-container {
        width: 100%;
    }
}
.title {
    font-size: 4rem;
    font-weight: 900;
}

.user-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: 2px solid black;
    gap: 25px;
    padding: 1rem;
    width: 80%;
    max-width: 900px;
    min-width: 370px;
    align-self: center;
}

.item {
    text-align: center;
}